@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul style="list-style: none;">
        <li>Server: @Environment.GetEnvironmentVariable("POSTGRES_SERVER")</li>
        <li>Database: @Environment.GetEnvironmentVariable("PROJECT_DB")</li>
    </ul>
</div>
